/* Reset و Font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
}

/* Body */
body {
  background: #38bdf8;
  color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
}

/* الصفحة الرئيسية (3 أعمدة) */
.page {
  width: 95%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
  gap: 50px;
  align-items: start;
  text-align: left;
}

/* العمود الشمال */
.left {
  text-align: center;
}

/* الدايرة مع الصورة بالكامل */
.circle-container {
  width: 150px;
  height: 15ء0px;
  border-radius: 50%;
  overflow: hidden; /* يخلي الصورة تملأ الدايرة بالكامل */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  background: linear-gradient(145deg, #7dd3fc, #0ea5e9);
  box-shadow:
    0 15px 30px rgba(0,0,0,0.25),
    inset 0 5px 10px rgba(255,255,255,0.6);
}

.profile-pic {
  width:auto;
  height: 100%;
  max-width: 100%;
  object-fit: cover; /* الصورة تملأ الدايرة بالكامل */
  border-radius: 50%;
}

/* الاسم والوظيفة تحت الدايرة */
.name {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin: 5px 0 0 0;
}

.job {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

/* العمود الأوسط */
.center h2 {
  margin: 20px 0 10px;
}

.center p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
}

/* العمود اليمين */
.right h2 {
  margin-bottom: 10px;
}

.right ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

.right li {
  margin-bottom: 6px;
  font-weight: 600;
}

/* responsive للموبايل */
@media (max-width: 900px) {
  .page {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

  .right, .center, .left {
    text-align: center;
  }
}
